<div class="container">
  <h1 class="welcome-title">Welcome!</h1>

  <ul class="recipes-list">
    <% @recipes.each do |recipe| %>
      <li class="recipe-item">
        <div class="recipe-info">
          <h2 class="recipe-name">
            <a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
          </h2>

          <button class="remove-recipe" data-method="delete" data-remote="true">Remove</button>
          <%= link_to 'Remove Recipe', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'remove-recipe' %>
        </div>

        <p class="recipe-description"><%= recipe.description %></p>
      </li>
    <% end %>
  </ul>

  <% if @recipes.empty? %>
    <p class="no-recipes">There are no Recipes</p>
  <% end %>
</div>